<%= form_for(@user_app) do |f| %>
  <% if @user_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_app.errors.count, "error") %> prohibited this user_app from being saved:</h2>

      <ul>
      <% @user_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uuid_phone %><br>
    <%= f.text_field :uuid_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
